@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Playfair+Display&display=swap');

*   {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    background-color: #CBC0E0
}

/* headings, logo and opening times*/

h1, h2, {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    letter-spacing: 5px;
    text-transform: capitalize;
    text-decoration: none;
    clear: both;
    display: inline;
    margin-left: 40px;
}

h3, p, td, th, label, input, legend {
    font-family: 'lato',sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: capitalize;
    text-decoration: none;
}
.logo-header {
    float: left;
    margin-left: 40px;
    margin-top: 20px;
    font-size: 100%;
    border: none;
    text-decoration: none;
    color: #3a3a3a;
    clear: both;
}

a:hover {
    cursor: pointer;
    text-decoration: none;
}

/* navigation and menu items */

#menu {
    background-color: #3a3a3a;
}

#menu {
    list-style-type: none;
    font-size: 150%;
    clear:left;    
}

#menu li {
    display: inline;
    text-decoration: none;
}

#menu a {
    text-decoration: none;
    color: #3a3a3a;
    letter-spacing: 4px;
    margin-left: 40px;
    font-size: 150%;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
    color: #CBC0E0;
}

#menu a:hover {
    text-decoration: underline;
}


/* about us section in index.html */

#about-us {
        margin-top: 40px;
        margin-left: 40px;
}

#about-us h2 {
    text-decoration: underline;
}

/* photos section in index.html */

#photos {
    clear: both;
    line-height: 0;
    column-count: 2;
    column-gap: 0;
    margin: 40px
}

#photos > img {
    width: 100%;
}

#photos-h2 {
    margin-left: 40px;
    text-decoration: underline;
}

/* pricelist */

.pricelist-table {
    text-align: center;
    margin-left: 40px;
    margin-bottom: 20px;
    width: 33.3%;
    table-layout: fixed;
    border: 1px solid #3a3a3a;
}

#pricelist-section {
    clear:both;
    float:left;
}

#pricelist-h2 {
    text-align: left;
    margin-left: 40px;
    padding-top: 20px;
}

.table-th {
    font-weight: bold;
    padding-top: 20px;
}

tr > td {
    padding: 5px;
}



/* contact-map */

.mapouter {
    clear:left;
    position: relative;
    text-align:center;
    height: 180px;
    width: 100%;
}

/* footer */

footer {
    height: 150px;
}

.main-table-opening-times {
    width: auto;
    float: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-family: 'lato', sans-serif;
    line-height: 170%;
}

.table-opening-times {
    font-weight: 700;
    font-family: 'lato', sans-serif;
    text-decoration: underline;
}

.logo-footer {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    padding-top: 20px;
}

.social-networks {
    clear: both;
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    padding: 2% 5%;
    color: #3a3a3a;
}

#copyright {
    text-align: center;
}

/* contact form */
#your-details {
    margin-left: 10%;
    padding: 5px;
    color: #3a3a3a;
    background-color: #CBC0E0;
    font-weight: 900;
    text-decoration: underline;
}
label {
    width:180px;
    clear:left;
    text-align:right;
    padding-right:10px;
}

input, label, textarea {
    float:left;
}

.send-form {
    margin-left: 190px;
    margin-top: 1%;
    background-color: #3a3a3a;
    color: #CBC0E0;
}

.reset-form {
    margin-left: 1%;
    margin-top: 1%;
    background-color: #3a3a3a;
    color: #CBC0E0;
}

/* Media queries */

/* For larger to medium screens size from 1200px wide and down*/

@media screen and (max-width: 1200px) {
    
/* For medium screen sizes from 950px wide and down */
@media screen and (max-width: 950px) {
    .logo-header {
        clear: left;
        float: left;
        margin-left: 20px;
        margin-bottom: 20px;
        line-height: 25px;
        text-align: center;
    }

    .logo-responsive {
        width: 100%;
        max-width: 400px;
        height: auto;
    }
    
    .pricelist-table {
        margin-left: auto;
        margin-bottom: auto;
        width:auto;
        float: none;
    }

    #pricelist-h2 {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin: auto;
    }

    #pricelist-h2 {
        margin-left: auto;
        margin-right: auto;
        padding-top: 20px;
    }
    
    #about-us p {
        margin-right: 20px; 
    }

    #photos {
        column-count: 2;
    }

    #your-details {
        text-align: center;
        margin-left: 0;
    }

    form {
        clear: left;
        float: left;
        margin-left: auto;
        margin-right: auto;
    }

    label {
        width: fixed;
        text-align:left;
        margin-left: 20px;
        margin-right: auto;
        padding: 2px;
    }
    
    #message, #fname-field, #lname-field, #email-field, #pnumber-field {
        float: right;
        width: fixed;
        text-align:left;
        margin-left: 20px;
        margin-right: 20px;
        padding: 2px;
    }

    .send-form, .reset-form {
        padding: 5px;
        font-weight: bold;
        margin: 20px;
    }
}

@media screen and (max-width: 800px) {
    #photos {
        column-count: 1;
    }
    
}

