@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Playfair+Display&display=swap');

*   {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    background-color: #CBC0E0
}

/* headings, logo and opening times*/

h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    letter-spacing: 5px;
    text-transform: capitalize;
    text-decoration: none;
    clear: both;
    display: inline;
    margin-left: 5px;
}

.logo-header {
    float: left;
    margin-left: 40px;
    margin-top: 20px;
    font-size: 100%;
    border: none;
    text-decoration: none;
    color: #3a3a3a;
    clear: both;
}

a:hover {
    cursor: pointer;
    text-decoration: none;
}

/* navigation and menu items */

#menu {
    list-style-type: none;
    font-size: 150%;
    clear:left;
    
}

#menu li {
    display: inline;
    text-decoration: none;
}

#menu a {
    text-decoration: none;
    color: #3a3a3a;
    letter-spacing: 4px;
    margin-left: 77px;
    font-size: 150%;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
}

#menu a:hover {
    color: ;
}

table {
    width: auto;
    float: right;
    text-align: left;
    margin-right: 40px;
    margin-top: 20px;
    font-family: 'lato', sans-serif;
    line-height: 170%;
}

.table-opening-times {
    text-align: center;
    font-weight: 700;
    font-family: 'lato', sans-serif;
    text-decoration: underline;
}

/* pricelist */

.pricelist-table {
    text-align: center;
    clear: left;
    float: left;
    margin-left: 40px;
    width: 33.3%;
    table-layout: fixed;
    border: 1px solid #3a3a3a;
}

#pricelist-h2 {
    text-align: left;
    margin: 40px;
    padding-top: 20px;
}


/* footer */

footer {
    height: 150px;
}

.logo-footer {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    padding-top: 20px;
}

.social-networks {
    clear: both;
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    padding: 2% 5%;
    color: #3a3a3a;
}

#copyright {
    text-align: center;
}

/* contact form */
#your-details {
    margin-left: 150px;
    padding: 5px;
    color: #3a3a3a;
    background-color: #CBC0E0;
    font-weight: 900;
    text-decoration: underline;
}
label {
    width:180px;
    clear:left;
    text-align:right;
    padding-right:10px;
}

input, label, textarea {
    float:left;
}

.send-form {
    margin-left: 190px;
    margin-top: 1%;
    background-color: #3a3a3a;
    color: #CBC0E0;
}

.reset-form {
    margin-left: 1%;
    margin-top: 1%;
    background-color: #3a3a3a;
    color: #CBC0E0;
}